@media (min-width: 1024px) {
    .conteudo{
        padding:75px;
    }

    img{
        height: 300px;
    }    

    .coluna-esquerda{
        border-right: 1px solid #1c3422;
    }

    .conteudo td{
        min-width: 50%;
        width: 50%;
        padding: 0px 50px;
    }
}

@media (max-width: 1023px){
    .conteudo{
        padding:0px;
    }

    img{
        padding-top: 20px;
        height: 200px;
    }

    form{
        padding-bottom: 25px
    }
}

td {
}

.input  {
    width: 100%;
    margin-bottom: 10px;
}

textarea {
    min-height: 15vh;
    resize: none;
}

h4 {
    color: #1c3422;
}

td p{
    font-weight: normal !important;
    color: black !important;
}