

* {
    margin: 0; padding: 0;
}
body{
    font-family: sans-serif;
    font-size: 12pt;
    display: flex;
    flex-direction: column;
}

.conteudo {
    flex: 1 0 auto;
}

header{
    width: 100%;
}

.logo{
    margin-left: auto;
    margin-right: auto;
}

.container-logo{
    background-color: #2e5537; 
}

.menu{
    background-color: #e6e6e6;
}

.menu li{
    display: inline;
}

.menu li a{
    text-decoration: none; 
    padding:5px 10px; 
    display: inline-block;
    font-size: 13pt;
    color: #1c3422;
    text-transform: uppercase;
    font-weight: 600;
}

.menu li a:hover{
    background: #2e5537;
    color:#fff;
    -moz-box-shadow: 3px 10px 0 #ccc;
    -webkit-box-shadow:0 3px 10px 0 #ccc;
}

.imagem-vitrine{
    height: 250px;
    width: 250px;
    border: 1px solid #1c3422;
    margin: 10px 0px;
}

.menu-produtos-dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100%;
    padding: 6px 8px;
    z-index: 1;
}

.menu-produtos-dropdown a {
    text-transform: none !important;
}

.menu-produtos:hover .menu-produtos-dropdown {
  display: block;
}

button{
    font-size: sans-serif;
    background-color: ;
}

@media (min-width: 1280px) {
    th {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    th {
        padding-left: 25px;
        padding-right: 25px;
    }

    h2 {
        font-size: 12pt;
    }
}

@media (max-width: 1023px){
    th {
        padding-left: 25px;
        padding-right: 25px;
    }

    table tr, table td{
        display:block;
    }

    .coluna-meio{
        border-left: 0px !important;
        border-right: 0px !important;
        margin: 5px 0px;
    }

    h1 {
        font-size: 18pt;
    }
    
    h2 {
        font-size: 12pt;
    }
}

footer{
    background-color: #40764c;
    flex-shrink: 0;
}

footer a, footer{
    color: #fff;
}

footer th{
    text-align: right;
    font-size: 10pt;
    font-weight: 10;
}

footer a{
    margin-right: 10px;
}

.logo-social{
    height: 20px;
    width: 20px;
}

.coluna-meio{
    border-right: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
}

table {
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

td {
    padding: 0px 25px;
    text-align: center;
}

td p{
    font-weight: bold;
    color: #1c3422;
}

h1{
    color:#2e5537;
    text-transform: uppercase;
}

button {
    background-color: #900d09;
    border: none;
    padding: 4px 8px;
    text-align: center;
    font-size: 10pt;
}
button a{
    color: #fff;
}