.conteudo {
    padding: 50px;
}
td {
    min-width: 50%;
    width: 50%;
    padding: 0px 50px;
}

.coluna-esquerda{
    border-right: 1px solid #1c3422;
}

.input  {
    width: 100%;
    margin-bottom: 10px;
}

textarea {
    min-height: 15vh;
    resize: none;
}

h4 {
    color: #1c3422;
}