html, body {
    height: 100%;
}
* {
    margin: 0; padding: 0;
}
body{
    font-family: sans-serif;
    font-size: 12pt;
    display: flex;
    flex-direction: column;
}

.conteudo {
    flex: 1 0 auto;
}

header{
    width: 100%;
}

.logo{
    margin-left: auto;
    margin-right: auto;
    height: 300px;
}

.container-logo{
    background-image: linear-gradient(to right, #2e5537 , #40764c); 
}

.menu{
    background-color: #e6e6e6;
}

.menu li{
    display: inline;
}

.menu li a{
    text-decoration: none; 
    padding:5px 10px; 
    display: inline-block;
    font-size: 13pt;
    color: #1c3422;
    text-transform: uppercase;
    font-weight: 600;
}

.menu li a:hover{
    background: #2e5537;
    color:#fff;
    -moz-box-shadow: 3px 10px 0 #ccc;
    -webkit-box-shadow:0 3px 10px 0 #ccc;
}

footer{
    background-color: #40764c;
    flex-shrink: 0;
}

footer th{
    text-align: right;
    font-size: 10pt;
    font-weight: 10;
}

footer a, footer th{
    color: #fff;
}

footer a{
    margin-right: 10px;
}

.logo-social{
    height:40px;
    width: 40px;
}

table {
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

th {
    padding-left: 50px;
    padding-right: 50px;
}

.coluna-meio{
    border-right: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
}